{{- $expandIdCounter := .Page.Scratch.Get "idCounter" | default 1 -}}
{{- $expandId := print "expand-" $expandIdCounter -}}
{{- add $expandIdCounter 1 | .Page.Scratch.Set "idCounter" -}}
<div class="pure-expand{{with (.Get `class`)}} {{.}}{{end}}">
  <input id="{{$expandId}}" class="pure-expand-checkbox" type="checkbox" />
  <label for="{{$expandId}}" class="pure-expand-header">{{ .Get "title" | default "Expand me" }}</label>
  {{- with .Inner -}}
  <div class="pure-expand-content">{{- . -}}</div>
  {{- end -}}
</div>